
main{
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap;
}
#id-cards{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap : wrap;
    border: solid 1px;
    border-radius: 2%;
    margin: 10px 1em 0 auto;
}
#id-pokemon{
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap;
}
#id-imagem{
    width:150px ;
    height: 150px;
}
#id-informacao{
     width:150px;
     height: 150px;
}